<div class="exercise" data-difficulty="{{difficulty}}" data-type="{{type}}" data-reps="{{reps}}">
  <div class="exercise-contents">
    <div class="exercise-title-container">
      <a href="#" class="exercise-title">{{description}}</a>
    </div>
    <div class="exercise-image-container">
      <img src="{{url}}" alt="{{description}}">
    </div>
    <div class="exercise-info-container">
      <p> Recomended Reps: {{reps}} </p>
      <p> Difficulty: {{difficulty}} </p>
    </div>
  </div>
</div>
