<div class="exercise" data-difficulty="{{difficulty}}" data-type="{{type}}" data-reps="{{reps}}">
  <div class="exercise-contents">
    <div class="exercise-title-container">
      <a href="#" class="exercise-title">{{description}}</a>
    </div>
    <div class="exercise-image-container">
      <img src="{{url}}" alt="{{description}}">
    </div>
    <div class="buttons-container">
      <button id="info-exercise-button" class="exercise-info-button action-button">Exercise Info</button>
    </div>
  </div>
</div>
